<!-- add header -->
<app-header></app-header>
<!-- add header -->

<!-- start main body -->

<div class="container">
  <div class="row">
    <!-- start sidebar -->
    <nav class="main-nav">
      <app-sidebar></app-sidebar>
    </nav>    
    <!-- end sidebar --> 
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="container">
        <!-- start main -->
        <router-outlet></router-outlet>        
        <!-- end main -->
      </div>
  </div>
</div>

<!-- end main body -->
