<!-- start navigation -->

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div routerLink="/tables" class="nav-box text-center">
        <div class="container">
          <div class="row justify-content-between" style="align-items: center;">
            <div class="col-md-6">
              <img src="../../../../../assets/images/notepad (1)@2x.png" width="50px" />
            </div>
            <div class="col-md-6">
              طلب صالة
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div routerLink="/delivery" class="nav-box text-center">
        <div class="container">
          <div class="row justify-content-between" style="align-items: center;">
            <div class="col-md-6">
                <img src="../../../../../assets/images/delivery-guy.png" width="50px" />
            </div>
            <div class="col-md-6">
              دليفري
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div  routerLink="/report"  class="nav-box text-center">
        <div class="container">
          <div class="row justify-content-between" style="align-items: center;">
            <div class="col-md-6">
                <img src="../../../../../assets/images/invoice@2x.png" width="50px" />
            </div>
            <div class="col-md-6">
              الصندوق
            </div>
          </div>
        </div>
      </div>
    </div> 


    <div class="col-md-3">
      <div routerLink="/myorders" class="nav-box text-center">
        <div class="container">
          <div class="row justify-content-between" style="align-items: center;">
            <div class="col-md-6">
              <img src="../../../../../assets/images/notepad (1)@2x.png" width="50px" />
            </div>
            <div class="col-md-6">
             طلبات اليوم
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>  

<!-- end navigation -->